@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 243, 250);
  line-height: 160%;
}

header.main-header {
  max-width: 1260px;
  height: 64px;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 4px;

  hgroup {
    padding: 1em;
    font-family: "Reggae One", cursive;
    color: rgb(58, 58, 68);
  }
}

p.loading {
  text-align: center;
  font-weight: bold;
}

ul.hor-navbar {
  list-style: none;
  display: flex;
  margin-top: 1.4em;
  margin-right: 1em;
  min-width: 20%;

  li {
    flex: 1;
    text-align: center;

    a {
      text-decoration: none;
      color: rgb(72, 72, 90);
    }

    a:hover {
      text-decoration: underline;
      color: rgb(51, 51, 61);
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: rgb(85, 31, 187);
  display: flex;
  flex-direction: column;
  z-index: 9999;

  ul.vert-menu {
    padding: 1em 0.6em 0 0.6em;
    flex: 1;
    display: flex;
    flex-direction: column;

    li {
      flex: 1;

      a {
        color: #fff;
        text-align: center;
        display: block;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        height: 100%;
        padding-top: 1em;
        border-radius: 3px;
        transition: all 200ms ease-out;
      }

      a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        transform: scale(1.2);
      }
    }
  }
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.grid-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

.box {
  background-color: #fff;
  border-radius: 4px;
  padding: 1em;
  transition: all 200ms ease-in;

  h2.header-title {
    font-weight: 600;
    font-size: 18px;
    margin: 0.4em 0 1.4em 0;
  }

  .box-description {
    font-weight: 700;
    font-size: 13px;
    color: rgb(88, 88, 116);
    padding: 1em;
    background-color: rgba(154, 154, 185, 0.1);
    margin-bottom: 0.6em;
    border-radius: 3px;
  }
}

.box:hover {
  transform: scale(1.02);
  box-shadow: 1px 4px 24px rgba(160, 160, 189, 0.2);
}

.chart-container {
  width: 100%;
  height: 400px;
}

.col-3 {
  width: calc(33.33% - 1em);
  margin: 1em 0.5em;
}

.col-2-3 {
  width: calc(66.66% - 1em);
  margin: 1em 0.5em;
}

.col-2 {
  margin: 1em 0.5em;
  width: calc(50% - 1em);
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  margin-right: 1em;
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(240, 242, 246);
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-color: rgb(99, 192, 147);
}

table.table-data {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(51, 51, 61);

  thead {
    background-color: rgb(240, 242, 246);
    font-weight: 700;
    th {
      font-size: 13px;
      color: rgb(98, 98, 128);
    }
  }

  td,
  th {
    border-bottom: 1px dotted rgb(225, 224, 231);
    padding: 1.2em 0;

    a {
      text-decoration: none;
      color: rgb(70, 101, 179);
    }

    a:hover {
      color: rgb(44, 65, 114);
      text-decoration: underline;
    }
  }
  tbody tr {
    transition: all 200ms ease-in;
  }

  tbody tr:hover {
    background-color: rgba(240, 242, 246, 0.6);
  }

  td.heavy-text {
    font-weight: bold;
    color: rgba(51, 51, 61, 0.85);
    font-weight: 700;
    font-size: 14px;
  }

  .positive-text {
    color: rgb(47, 160, 105);
  }

  .negative-text {
    color: rgb(224, 109, 81);
  }

  .positive-text,
  .negative-text {
    font-size: 13px;
  }
}

ul.segment-control {
  width: 140px;
  margin: 1em auto 1.6em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  li.control-item {
    flex: 1;
    margin-right: 2px;

    button {
      background-color: rgb(229, 233, 241);
      padding: 0.7em 0;
      display: block;
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;
      color: rgb(52, 52, 70);
      cursor: pointer;
    }

    button:hover {
      background-color: rgb(202, 209, 223);
    }

    button:disabled {
      opacity: 0.2;
    }
  }
}

div.stats-description {
  text-align: center;
  line-height: 160%;
  margin-bottom: 1.8em;

  p {
    color: rgba(37, 37, 44, 0.7);
    margin-bottom: 0.5em;
  }

  h1 {
    font-size: 22px;

    span.stat-h1 {
      margin-left: 0.6em;
      font-size: 16px;
      vertical-align: text-top;
    }

    span.color-success {
      color: #45b182;
    }

    span.color-warning {
      color: #e65a47;
    }
  }
}

ul.stats-list {
  flex-direction: row;
  display: flex;
  text-align: center;
  line-height: 160%;
  font-size: 14px;

  li {
    flex: 1;
    font-weight: bold;
    color: rgba(37, 37, 44, 0.85);

    span.stat-title {
      display: block;
      font-weight: 300;
      color: rgb(52, 52, 70);
      margin-bottom: 0.2em;
    }

    span.stat-icon {
      margin-right: 0.3em;
      font-size: 16px;
    }

    span.stat-icon-success {
      color: #60dba6;
    }

    span.stat-icon-danger {
      color: #e65a47;
    }
  }
}
